#################################
# Core EditorConfig Preferences #
#################################

root = true

# All files
[*]
indent_style = space
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# All code files
[*.{cs}]
indent_size = 4
max_line_length = 120

###############################
#    C# Coding Conventions    #
###############################
[*.cs]

#-----------------------------#
#     Naming Conventions      #
#-----------------------------#

#--------Naming Rules---------#

# Functions Must Be Pascal Case
dotnet_naming_rule.functions_must_be_pascal_case.symbols = functions
dotnet_naming_rule.functions_must_be_pascal_case.style = pascal_style
dotnet_naming_rule.functions_must_be_pascal_case.severity = error

# Public Members Must Be Pascal Case
dotnet_naming_rule.public_members_must_be_pascal_case.symbols = public_members
dotnet_naming_rule.public_members_must_be_pascal_case.style = pascal_style
dotnet_naming_rule.public_members_must_be_pascal_case.severity = error

# Constants Must Be Pascal Case
dotnet_naming_rule.constants_must_be_pascal_case.symbols = constants
dotnet_naming_rule.constants_must_be_pascal_case.style = pascal_style
dotnet_naming_rule.constants_must_be_pascal_case.severity = error

# Nonpublic Members Must Be Camel Case
dotnet_naming_rule.nonpublic_members_must_be_camel_case.symbols = nonpublic_members
dotnet_naming_rule.nonpublic_members_must_be_camel_case.style = camel_style
dotnet_naming_rule.nonpublic_members_must_be_camel_case.severity = error

# Nonpublic Static Members Must Start With Underscore
dotnet_naming_rule.private_static_members_must_start_with_underscore.symbols = nonpublic_static_members
dotnet_naming_rule.private_static_members_must_start_with_underscore.style = underscore_prefix_style
dotnet_naming_rule.private_static_members_must_start_with_underscore.severity = error

# Locals Must Be Camel Case
dotnet_naming_rule.locals_must_be_camel_case.symbols = locals
dotnet_naming_rule.locals_must_be_camel_case.style = camel_style
dotnet_naming_rule.locals_must_be_camel_case = error

# Type Names Must Be Pascal Case
dotnet_naming_rule.types_must_be_pascal_case.symbols = types
dotnet_naming_rule.types_must_be_pascal_case.style = pascal_style
dotnet_naming_rule.types_must_be_pascal_case.severity = error

# Interface Names Must Start With I
dotnet_naming_rule.interfaces_must_start_with_i.symbols = interfaces
dotnet_naming_rule.interfaces_must_start_with_i.style = interface_style
dotnet_naming_rule.interfaces_must_start_with_i.severity = error

# Type Parameters Must Start With T
dotnet_naming_rule.type_parameters_must_start_with_t.symbols = type_parameters
dotnet_naming_rule.type_parameters_must_start_with_t.style = type_style
dotnet_naming_rule.type_parameters_must_start_with_t.severity = error

#-------Naming Symbols--------#

# Functions
dotnet_naming_symbols.functions.applicable_kinds = method,local_function
dotnet_naming_symbols.functions.applicable_accessibilities = *

# Public Members
dotnet_naming_symbols.public_members.applicable_kinds = property,field,event
dotnet_naming_symbols.public_members.applicable_accessibilities = public,internal,protected_internal

# Nonpublic Members
dotnet_naming_symbols.nonpublic_members.applicable_kinds = property,field,event
dotnet_naming_symbols.nonpublic_members.applicable_accessibilities = private,protected,private_protected

# Nonpublic Static Members
dotnet_naming_symbols.nonpublic_static_members.applicable_kinds = property,field,event
dotnet_naming_symbols.nonpublic_static_members.applicable_accessibilities = private,protected,private_protected
dotnet_naming_symbols.nonpublic_static_members.required_modifiers = static

# Locals
dotnet_naming_symbols.locals.applicable_kinds = local,parameter

# Types
dotnet_naming_symbols.types.applicable_kinds = namespace,class,struct,enum,delegate,interface
dotnet_naming_symbols.types.applicable_accessibilities = *

# Interfaces
dotnet_naming_symbols.interfaces.applicable_kinds = interface
dotnet_naming_symbols.interfaces.applicable_accessibilities = *

# Type Parameters
dotnet_naming_symbols.type_parameters.applicable_kinds = type_parameter
dotnet_naming_symbols.type_parameters.applicable_accessibilities = *

# Constants
dotnet_naming_symbols.constants.applicable_kinds = field
dotnet_naming_symbols.constants.applicable_accessibilities = *
dotnet_naming_symbols.constants.required_modifiers = const

#--------Naming Styles--------#

# Pascal Style
dotnet_naming_style.pascal_style.capitalization = pascal_case

# Camel Style
dotnet_naming_style.camel_style.capitalization = camel_case

# Interface Style
dotnet_naming_style.interface_style.required_prefix = I
dotnet_naming_style.interface_style.capitalization = pascal_case

# Type Style
dotnet_naming_style.type_style.required_prefix = T
dotnet_naming_style.type_style.capitalization = pascal_case

# Underscore Prefix Style
dotnet_naming_style.underscore_prefix_style.required_prefix = _
dotnet_naming_style.underscore_prefix_style.capitalization = camel_case

#-----------------------------#
#     Spacing Preferences     #
#-----------------------------#

# Indentation Preferences
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = false

# New Line Preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_between_query_expression_clauses = true

# Space Preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_parentheses = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parentheses = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false

#-----------------------------#
#   Code Style Preferences    #
#-----------------------------#

# Wrap Preferences
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

# "this" Qualifier Preferences
dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_property = true:warning
dotnet_style_qualification_for_method = true:warning
dotnet_style_qualification_for_event = true:warning

# Type Name Preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:error
dotnet_style_predefined_type_for_member_access = true:error

# Modifier Preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:error
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:error
dotnet_style_readonly_field = true:silent

# Parentheses Preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_rational_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:error

# Expression Level Preferences
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:warning
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = false:silent
dotnet_style_prefer_auto_properties = true:warning
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:warning
dotnet_style_prefer_conditional_expression_over_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = true:suggestion
dotnet_style_prefer_compound_assignment = true:warning

# Null Checking Preferences
dotnet_style_coalesce_expression = true:warning
dotnet_style_null_propagation = true:suggestion

# Parameter Preferences
dotnet_code_quality_unused_parameters = all:error

# Implicit and Explicit Type Preferences
csharp_style_var_when_type_is_apparent = false:warning
csharp_style_var_for_built_in_types = false:warning
csharp_style_var_elsewhere = true:warning

# Expression-bodied Members Preferences
csharp_style_expression_bodied_methods = false:warning
csharp_style_expression_bodied_constructors = false:warning
csharp_style_expression_bodied_operators = false:warning
csharp_style_expression_bodied_properties = when_on_single_line:silent
csharp_style_expression_bodied_indexers = when_on_single_line:silent
csharp_style_expression_bodied_accessors = when_on_single_line:silent
csharp_style_expression_bodied_lambdas = true:suggestion
csharp_style_expression_bodied_local_functions = when_on_single_line:suggestion

# Pattern Matching Preferences
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion

# In-Line Variable Declaration Preferences
csharp_style_inlined_variable_declaration = true:suggestion

# Expression Level Preferences
csharp_prefer_simple_default_expression = true:suggestion

# Null Checking Preferences
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion

# Code Block Preferences
csharp_prefer_braces = true:warning

# Unused Value Preferences
csharp_style_unused_value_expression_statement_preference = discard_variable:warning
csharp_style_unused_value_assignment_preference = discard_variable:warning

# Index and Range Preferences
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion

# Using Directive Preferences
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# Miscellaneous Preferences
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_pattern_local_over_anonymous = true:suggestion
csharp_using_directive_placement = outside_namespace:error
csharp_prefer_static_local_function = true:suggestion
csharp_prefer_simple_using_statement = true:silent
csharp_style_prefer_switch_expression = true:silent

#-----------------------------#
#    ReSharper Preferences    #
#-----------------------------#

# ReSharper properties

# Alignment Preferences
resharper_alignment_tab_fill_style = use_spaces
resharper_align_first_arg_by_paren = false
resharper_align_linq_query = true
resharper_align_multiline_array_and_object_initializer = false
resharper_align_multiline_binary_expressions_chain = false
resharper_align_multiline_calls_chain = false
resharper_align_multiline_extends_list = false
resharper_align_multiline_for_stmt = false
resharper_align_multiline_switch_expression = false
resharper_align_multline_type_parameter_constrains = false
resharper_align_multline_type_parameter_list = false
resharper_align_tuple_components = false
resharper_csharp_align_multiline_argument = false
resharper_csharp_align_multiline_expression = false
resharper_csharp_align_multiline_parameter = false
resharper_csharp_align_multiple_declaration = false
resharper_int_align = false
resharper_outdent_binary_ops = false
resharper_outdent_commas = false
resharper_outdent_dots = false
resharper_outdent_ternary_ops = false


# Blank Line Preferences
resharper_blank_lines_before_case = 0
resharper_blank_lines_after_case = 0
resharper_blank_lines_after_start_comment = 1
resharper_blank_lines_after_using_list = 1
resharper_blank_lines_around_auto_property = 1
resharper_blank_lines_around_block_case_section = 0
resharper_blank_lines_around_field = 1
resharper_blank_lines_around_local_method = 1
resharper_blank_lines_around_multiline_case_section = 0
resharper_blank_lines_around_namespace = 1
resharper_blank_lines_around_property = 1
resharper_blank_lines_around_region = 1
resharper_blank_lines_around_single_line_auto_property = 1
resharper_blank_lines_around_single_line_field = 1
resharper_blank_lines_around_single_line_invocable = 1
resharper_blank_lines_around_single_line_property = 1
resharper_blank_lines_around_type = 1
resharper_blank_lines_before_single_line_comment = 0
resharper_blank_lines_between_using_groups = 0
resharper_blank_lines_inside_namespace = 0
resharper_blank_lines_inside_region = 1
resharper_blank_lines_inside_type = 0
resharper_keep_blank_lines_in_code = 1
resharper_keep_blank_lines_in_declarations = 1
resharper_remove_blank_lines_near_braces_in_code = true
resharper_remove_blank_lines_near_braces_in_declarations = true

# Spacing Preferences
resharper_space_after_attributes = true
resharper_space_after_colon = true
resharper_space_after_colon_in_case = true
resharper_space_after_comma = true
resharper_space_after_operator_keyword = true
resharper_space_after_triple_slash = true
resharper_space_after_type_parameter_constraint_colon = true
resharper_space_after_unary_operator = false
resharper_space_around_additive_op = true
resharper_space_around_alias_eq = true
resharper_space_around_assignment_op = true
resharper_space_around_lambda_arrow = true
resharper_space_around_member_access_operator = false
resharper_space_around_relational_op = true
resharper_space_around_shift_op = true
resharper_space_around_ternary_operator = true
resharper_space_before_checked_parentheses = false
resharper_space_before_colon = false
resharper_space_before_colon_in_case = false
resharper_space_before_comma = false
resharper_space_before_default_parentheses = false
resharper_space_before_empty_method_parentheses = false
resharper_space_before_method_parentheses = false
resharper_space_before_nameof_parentheses = false
resharper_space_before_nullable_mark = false
resharper_space_before_pointer_asterik_declaration = false
resharper_space_before_semicolon = false
resharper_space_before_singleline_accessorholder = true
resharper_space_before_sizeof_parentheses = false
resharper_space_before_trailing_comment = true
resharper_space_before_typeof_parentheses = false
resharper_space_before_type_argument_angle = false
resharper_space_before_type_parameter_angle = false
resharper_space_before_type_parameter_constraint_colon = true
resharper_space_between_accessors_in_singleline_property = true
resharper_space_between_attribute_sections = true
resharper_space_between_keyword_and_expression = true
resharper_space_between_keyword_and_type = true
resharper_space_in_singleline_accessorholder = true
resharper_space_in_singleline_anonymous_method = true
resharper_space_in_singleline_method = true
resharper_space_near_postfix_and_prefix_op = false
resharper_space_within_checked_parentheses = false
resharper_space_within_default_parentheses = false
resharper_space_within_empty_braces = true
resharper_space_within_nameof_parentheses = false
resharper_space_within_single_line_array_initializer_braces = true
resharper_space_within_sizeof_parentheses = false
resharper_space_within_typeof_parentheses = false
resharper_space_within_type_argument_angles = false
resharper_space_within_type_parameter_angles = false

# Bracket Preferences
resharper_braces_for_dowhile = required
resharper_braces_for_fixed = required
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_while = required
resharper_braces_for_ifelse = not_required_for_both
resharper_braces_for_lock = required
resharper_empty_block_style = multiline
resharper_allow_comment_after_lbrace = false

# Indent Preferences
resharper_indent_type_constraints = true
resharper_indent_anonymous_method_block = false
resharper_indent_case_from_select = true
resharper_indent_inside_namespace = true
resharper_indent_nested_fixed_stmt = true
resharper_indent_nested_foreach_stmt = true
resharper_indent_nested_for_stmt = true
resharper_indent_nested_lock_stmt = true
resharper_indent_nested_usings_stmt = true
resharper_indent_nested_while_stmt = true
resharper_indent_invocation_pars = inside
resharper_indent_method_decl_pars = inside
resharper_indent_pars = inside
resharper_indent_statement_pars = inside
resharper_indent_typearg_angles = inside
resharper_indent_typeparam_angles = inside
resharper_indent_preprocessor_if = no_indent
resharper_indent_preprocessor_other = no_indent
resharper_indent_preprocessor_region = usual_indent
resharper_continuous_indent_multiplier = 1
resharper_use_continuous_indent_inside_initializer_braces = true
resharper_use_continuous_indent_inside_parens = true

# Parameter Preferences
resharper_arguments_anonymous_function = positional
resharper_arguments_literal = positional
resharper_arguments_named = positional
resharper_arguments_other = positional
resharper_arguments_skip_single = false
resharper_arguments_string_literal = positional

# Wrap Preferences
resharper_wrap_after_declaration_lpar = true
resharper_wrap_after_dot_in_method_calls = false
resharper_wrap_after_invocation_lpar = true
resharper_wrap_before_arrow_with_expressions = false
resharper_wrap_before_binary_opsign = false
resharper_wrap_before_comma = false
resharper_wrap_before_declaration_lpar = false
resharper_wrap_before_declaration_rpar = false
resharper_wrap_before_extends_colon = true
resharper_wrap_before_first_type_parameter_constraint = true
resharper_wrap_before_invocation_lpar = false
resharper_wrap_before_invocation_rpar = false
resharper_wrap_before_ternary_opsigns = true
resharper_wrap_before_type_parameter_langle = true
resharper_wrap_arguments_style = chop_if_long
resharper_wrap_array_initializer_style = chop_if_long
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_chained_method_calls = chop_if_long
resharper_wrap_enum_declaration = chop_always
resharper_wrap_extends_list_style = chop_if_long
resharper_wrap_for_stmt_header_style = chop_if_long
resharper_wrap_multiple_declaration_style = chop_if_long
resharper_wrap_multiple_type_parameter_constraints_style = chop_if_long
resharper_wrap_object_and_collection_initializer_style = chop_if_long
resharper_wrap_parameters_style = chop_if_long
resharper_wrap_switch_expression = chop_if_long,
resharper_wrap_ternary_expr_style = chop_if_long
resharper_csharp_max_line_length = 120
resharper_csharp_wrap_lines = true
resharper_place_accessorholder_attribute_on_same_line = False
resharper_place_accessor_attribute_on_same_line = False
resharper_place_constructor_initializer_on_same_line = true
resharper_place_expr_accessor_on_single_line = if_owner_is_single_line
resharper_place_expr_method_on_single_line = if_owner_is_single_line
resharper_place_expr_property_on_single_line = if_owner_is_single_line
resharper_place_field_attribute_on_same_line = False
resharper_place_method_attribute_on_same_line = False
resharper_place_simple_case_statement_on_same_line = if_owner_is_single_line
resharper_place_simple_embedded_statement_on_same_line = if_owner_is_single_line
resharper_place_simple_initializer_on_single_line = true
resharper_place_simple_switch_expression_on_single_line = true
resharper_place_type_attribute_on_same_line = False
resharper_place_type_constraints_on_same_line = true
resharper_keep_existing_declaration_block_arrangement = false
resharper_keep_existing_declaration_parens_arrangement = false
resharper_keep_existing_embedded_arrangement = false
resharper_keep_existing_embedded_block_arrangement = false
resharper_keep_existing_enum_arrangement = false
resharper_keep_existing_expr_member_arrangement = false
resharper_keep_existing_invocation_parens_arrangement = false
resharper_keep_existing_switch_expression_arrangement = false
resharper_keep_existing_initializer_arrangement  =  false
resharper_keep_existing_attribute_arrangement = false
resharper_special_else_if_treatment = true
resharper_new_line_before_while = true

# Code Style Preferences
resharper_force_attribute_style = separate
resharper_csharp_prefer_qualified_reference = false
resharper_csharp_stick_comment = false
resharper_static_members_qualify_members = none
resharper_static_members_qualify_with = declared_type
resharper_sort_usings_lowercase_first = false
resharper_sort_usings_with_system_first = false
resharper_prefer_explicit_discard_declaration = false
resharper_instance_members_qualify_declared_in = this_class,base_class
resharper_prefer_separate_deconstructed_variables_declaration = true
resharper_qualified_using_at_nested_scope = false

# XML Documentation Preferences
resharper_xmldoc_attribute_indent = single_indent
resharper_xmldoc_linebreak_before_elements = summary,remarks,example,returns,param,typeparam,value,para
resharper_xmldoc_max_blank_lines_between_tags = 0
resharper_xmldoc_max_line_length = 120
resharper_xmldoc_pi_attribute_style = do_not_touch
resharper_xmldoc_space_before_self_closing = true
resharper_xmldoc_wrap_lines = true
resharper_xmldoc_wrap_tags_and_pi = true
resharper_xmldoc_wrap_text = true
resharper_spaces_around_eq_in_attribute = true
resharper_spaces_around_eq_in_pi_attribute = true
resharper_indent_child_elements = OneIndent
resharper_indent_text = OneIndent
resharper_spaces_inside_tags = false
resharper_linebreaks_inside_tags_for_elements_with_child_elements = true
resharper_linebreaks_inside_tags_for_multiline_elements = true
